[flake8]
max-line-length = 120
inline_quotes = double
format = wemake
#max-line-complexity = 16
max-try-body-length = 2
select = WPS

ignore = C, D, E, F, DAR, RST, Q, I, S, W503, WPS110, WPS123, WPS201, WPS237, WPS300, WPS305, WPS306, WPS332, WPS410, WPS412, WPS430, WPS476, WPS602, WPS605

per-file-ignores =
    */__init__.py: WPS347,WPS440
    *_enum.py: WPS115
